*{
    box-sizing: border-box;
    margin: 0 auto;
}
#k1{
   
    width: 800px;
    height: 880px;
    border: 1px solid rgb(60, 188, 234);
    padding: 30px;
}

header{
    font-size: 25px;
    color: green;
    border: 1px solid gray;
    padding: 20px;
    margin: 15px;
    text-align: center;
    
}
nav{
    font-size:  25px;
    color: green;
    border-right: 2px solid green;
    width: 200px;
    height: 620px;
    float: left;
    padding: 10px 10px 0 10px;
}
 nav article{
    border: 1px solid grey;
    padding:35px;
}
.ar1{
    float: left;
    width: 70%;
    height: 450px;
    padding: 10px;
}
.se_he{
    background-color: rgb(36, 142, 107);
    color: white;
    padding: 5px;
}
.ar3{
    float: left;
    width: 50%;
    height: 200px;
    padding: 10px ;
}

footer{
    width: 100%;
    float: left;
    border-top: 2px solid green;
    padding-top: 20px;
}
.ar1_ar{
    float: left;
    width: 59%;
    height: 300px;
    padding: 10px ;
}
.ar1_ar1{
    float: left;
    margin-top:  12px;
}