
#k1{
    float: left;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
}
.app{
    border: 1px solid black;
}
header{
   
    min-height: 100px;
    background-color: rgb(240 203 176);
}
section{
    min-height: 500px;
    background-color: rgb(240 203 176);
}
footer{
    min-height: 100px;
    background-color: rgb(240 203 176);
}