*{
    box-sizing: border-box;
    margin: 0 auto;
}
#k1{
    width: 960px;
    height: 650px;
    border: 1px solid black;
}
header{
    width: 100%;
    height: 90px;
    background-color: #324d76;
    
}
header img{
    width: 60px;
    height: 70px;
    margin-top: 8px;

}
.divRight{
    float: right;
    margin-top: -60px;
    margin-right: 10px;
}
.divRight input{

    background-color: #20447e;
    color: rgb(176, 174, 174);
}
::placeholder{
    color:rgb(176, 174, 174) ;
}
nav{
    float: right;
    width: 55%;
    height: 37px;
    margin-top: -20px;
}
section{
    float: left;
    width: 70%;
    height: 480px;
    margin-top: 40px;
    padding: 10px;
}
.divTitle{
    float: left;
    width: 100%;
    height: 49px;
    border-bottom: 1px dashed rgb(155, 155, 155);

}
.ar1{
    float: left;
    width: 54%;
    height: 480px;
    

}
.divar1{
    width: 90%;
    padding-top: 15px;
    margin-left: 0px;
}
.divar2{
    padding: 15px 0 15px 0;
    color: grey;
    
}
.divar2 input{
    float: left;
    width: 160px;
    height: 25px;
    margin-bottom: 10px;
    background-color:rgb(247 247 247);
    border: 1px solid grey;
    
    
}
.divar2 div{
    float: left;

}
textarea{
    background-color:rgb(247 247 247);
    border: 1px solid grey;
    width: 95%;

}
.btn{
    width: 80px;
    height: 30px;
    font-size: 15px;
    margin-right: 10px;
}
.ar2{
    float: left;
    width: 40%;
    height:80%;
    margin-left: 22px;
    margin-bottom: 20px;
    color: grey;


}
aside{
    float: left;
    width: 30%;
    height: 70%;
    background-color: rgb(246, 246, 246);
    margin-top: 40px;
    color: grey;
}
footer{
    float: left;
    width: 100%;
    height: 6%;
    background-color: rgb(34 50 80);
    color: white;
    padding: 10px 0 0 10px;

}



/* ĐỊNH DẠNG CHỮ */
.divLeft{
    
    color: white;
    width: 30%;
    margin: -62px 0 0 65px;
}

nav li{
   
    float: left;
    color: white;
    list-style-type: none;
    display: inline-block;
    padding: 8px;
    margin-right: 10px;
    background-color: #4470b3;
    font-weight: bold;
}
.divar1 p{
    text-align: justify;
    color: red;
    text-shadow: green 2px 5px 5px;
}
.divar21{
    padding: 15px 0 15px 0;
    font-size: 20px;
    border-bottom: 1px dashed grey;

}
.divar22{
    margin-top: 20px;
   
}
.divar22 li{
    
    list-style-type: none;
    margin-left: -36px;

}
.divar23{
    padding-right: 10px;
    margin-top: 40px;

}
.divar24{
    margin-top: 20px;
}
.divar24 li{
    list-style-type: none;
    margin-left: -36px;
   

}
.arAside1{
    font-size: 25px;
    padding: 20px;

}
.arAside1 p{
    padding-bottom: 20px;
    border-bottom: 1px dashed grey;
    
    
}
.arAside2{
    border: 1px solid rgb(211, 211, 211);
    width: 90%;
    height: 28%;
    
}
.arAside2 img{
    width: 100%;
    height: 100%;
    padding: 5px;

    
}
.arAside3{
    font-size: 18px;
    margin: 20px 20px 0 15px;

}
.arAside3 p{
    text-align: justify;
}
.arAside4{
    margin-left: 180px;
    margin-top: 18px;
    
}

h6 a{
    font-size: 15px;
    text-decoration: none;
}
footer li{
    display: inline-block;
    list-style-type: none;
}
footer li a{
    text-decoration: none;
    color: rgb(206, 212, 247);
}
